.picker-wrapper {
  position: absolute;
  bottom: calc(100% + 4px);
  left: 0;
  max-height: 120px;
  width: 300px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 4px 12px 2px;
  padding: 10px;
  border-radius: 4px;
  cursor: default;
}

.emoji-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 24px;
  transition: background-color 350ms ease-in-out;
  cursor: pointer;
}

.emoji:hover {
  background-color: var(--hover-color);
}
