:root {
  --ascent-color: #4784de;
  --hover-color: #f0f0f0;
  --text-gray-color: #646464;
}

::-webkit-scrollbar{
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-track{
background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: #bcbcbc;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #808080;
}

::-webkit-scrollbar-thumb:active{
  background-color: #bcbcbc;
}

::-webkit-scrollbar-corner{
  background-color: transparent;
}

::-webkit-scrollbar-button{
  background-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

#root {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a,
a:visited {
  text-decoration: inherit;
  color: inherit;
}

.btn {
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.my-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.separator {
  margin: 4px 6px;
  border-top: 1px solid #e0e0e0;
}

.form-group {
  margin-bottom: 12px;
}